<p id="notice"><%= notice %></p>

<div class="container">
  <div class="col-md-12">
    <div class="row">
      <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail thumb">
          <%= image_tag render_photo(current_user.image), class: "img img-responsive" %>
          <div class="caption">
            <h4 class="pull-right"><%= current_user.email %></h4>
            <h4><%= link_to render_name(current_user), user_path(current_user) %></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h1>Your Products</h1>
  <div class="col-md-12">
    <%= paginate @products %>
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-sm-4 col-lg-4 col-md-4">
          <div class="thumbnail user-thumb">
            <%= image_tag render_photo(product.images.first), class: "img img-responsive" %>
            <div class="caption">
              <h4><%= link_to product.title, product %></h4>
              <%= button_to("Details...", product, class: "btn btn-primary", method: :get) %>
              &nbsp;
              <%= button_to("Edit", edit_product_path(product), class: "btn btn-primary", method: :get) %>
              &nbsp;
              <%= button_to("Delete", product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary") %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= paginate @products %>

    <h1>Your Reviews</h1>

    <%= paginate @reviews %>

    <% @reviews.each do |review| %>
      <div><%= review.body %></div>
      <div>
        <%= link_to "Show", product_path(review.product), class: "btn btn-primary" %>
        <%= link_to "Edit", edit_product_review_path(review.product, review), class: "btn btn-primary" %>
        <%= link_to "Delete", [review.product, review], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
      </div>
    <% end %>
    <%= paginate @reviews %>
  </div>
</div>
