<div class="container">
  <div class="col-md-12">
    <h1><%= link_to render_name(@user), user_path(@user) %></h1>
    <div class="row">
      <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail user-img">
          <%= image_tag render_large_photo(@user.image), class: "img img-responsive img-responsive-height" %>
        </div>
        <div class="caption">
          <h4><%= @user.email %></h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-md-12">
    <h2>User's Products</h2>
    <%= paginate @products %>
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-sm-4 col-lg-4 col-md-4">
          <div class="thumbnail product-thumb">
            <%= image_tag render_photo(product.images.first), class: "img img-responsive" %>
            <div class="caption">
              <h4 class="pull-right"><%= number_to_currency(product.price.to_s) %></h4>
              <h4><%= link_to render_title(product), product %></h4>
              <%= link_to "Details", product, class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= paginate @products %>
  </div>
</div>
