<p id="notice"><%= notice %></p>

<p>
  <b>Total price:</b>
  <%= @order.total_price %>
</p>

<p>
  <b>Discount:</b>
  <%= @order.discount %>
</p>

<p>
  <b>User:</b>
  <%= @order.user_id %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
