<h1>Listing Order Details</h1>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <tr>
          <th>Title</th>
          <th>Price</th>
          <th>Details</th>
          <th></th>
        </tr>
        <% if @products %>
          <% @products.each do |product| %>
            <tr id=<%= "row-#{product.id}" %>>
              <td><%= product.title %></td>
              <td>Rs. <%= product.price %></td>
              <td><%= link_to "Details", product_path(product), class: 'btn btn-default' %></td>
              <td><%= link_to "Remove from cart", carts_remove_from_cart_path(product), data: { remote: true, confirm: 'Are you sure?', params: { product_id: product.id }.to_param }, class: 'btn btn-warning' %></td>
            </tr>
          <% end %>
        <% end %>
        <tr>
          <td> Total Price: </td>
          <td id="total-price">Rs. <%= @total_price %></td>
          <td> Discount Offered:</td>
          <td id="show-discount"><%= @total_discount %></td>
        </tr>
      </table>
    </div>

    <div class="form-group">
      <label id="payable-amount">Payable amount: Rs. <%= @payable_amount %></label>
    </div>

    <% unless cookies[:coupon] || @cart.blank? %>
      <%= form_for(@discount, remote: true, html: { class: "form-horizontal", id: 'get-discount' }) do |f| %>
        <div class="form-group">
          <%= f.text_field :coupon, class:"form-control", placeholder: "Enter a valid coupon to avail discount" %>
          <label id="valid-coupon"></label>
        </div>
        <div class="form-group">
          <%= f.submit class: 'btn btn-success', value: "Get Discount" %>
        </div>
      <% end %>
    <% end %>

    <div class="form-group">
      <%= link_to "Checkout", new_order_path, class: "btn btn-success pull-right" %>
    </div>

  </div>
</div>
