<%= render 'modal' %>

<h1>Products</h1>

<div class="container">
  <div class="col-md-12">
    <%= paginate @products %>
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-sm-4 col-lg-4 col-md-4">
          <div class="thumbnail product-thumb">
            <div class="img">
              <%= link_to product do %>
                <%= image_tag render_photo(product.images.first), class: "img img-responsive img-responsive-height" %>
              <% end %>
            </div>
            <div class="caption inline">
              <h2 class="price pull-right"><%= number_to_currency(product.price.to_s) %></h4>
              <h2 class="title"><%= link_to render_title(product), product %></h4>
              <%= link_to 'Add to cart', carts_add_to_cart_path, id: "add-#{product.id}", data: { remote: true, target: '#myModal', toggle: 'modal', params: { product_id: product.id }.to_param }, class: 'btn btn-primary pull-right' if @cart.blank? %>
              <% unless @cart.blank? || @cart.include?(product.id) %>
                <%= link_to 'Add to cart', carts_add_to_cart_path, id: "add-#{product.id}", data: { remote: true, target: '#myModal', toggle: 'modal', params: { product_id: product.id }.to_param }, class: 'btn btn-primary pull-right' %>
              <% end %>
              <%= button_to("Details", product, method: :get, class: "btn btn-default") %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <%= paginate @products %>

    <div>
      <% if user_signed_in? %>
        <%= link_to 'Add a new product', new_product_path, class: 'btn btn-primary' %>
      <% else %>
        <%= link_to 'Sign in to add a new product', user_session_path %>
      <% end %>
    </div>
  </div>
</div>
