<div class="container">

  <div class="col-sm-12 col-md-12 col-lg-12">
    <ol class="breadcrumb">
      <li><%= link_to "Home", products_path %></li>
      <li class="active"><%= @product.title %></li>
    </ol>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-12">
    <% if authorized_user?(@product.user) %>
      <%= link_to 'Edit', edit_product_path(@product), class: "pull-right" %>
    <% end %>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= @product.title %>
        <%= link_to render_name(@product.user), user_path(@product.user), class: "pull-right" %>
      </div>
      <div class="panel-body">
        <div class="col-sm-10 col-md-10 col-lg-10">
          <span><%= render_description(@product) %></span>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
          <b class="pull-right">Rs. <%= @product.price %></b>
          <div class="clearfix"></div>
          <%= link_to 'Add to cart', carts_add_to_cart_path, id: "add-#{@product.id}", data: { remote: true, target: '#myModal', toggle: 'modal', params: { product_id: @product.id }.to_param }, class: 'btn btn-primary pull-right' if @cart.blank? %>
          <% unless @cart.blank? || @cart.include?(@product.id) %>
            <%= link_to 'Add to cart', carts_add_to_cart_path, id: "add-#{@product.id}", data: { remote: true, target: '#myModal', toggle: 'modal', params: { product_id: @product.id }.to_param }, class: 'btn btn-primary pull-right' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">Gallery</div>
      <div class="panel-body">
        <ul class="list-inline">
          <% @product.images.each do|image| %>
            <li>
              <div class="thumbnail show-thumb">
                <%= image_tag render_large_photo(image), class: "img-large img-rounded img-responsive img-responsive-height" %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">Reviews</div>
      <div class="panel-body">
        <div id="show-reviews">
          <%= render @product.reviews %>
        </div>
        <%= link_to 'View all reviews', product_reviews_path(@product) %>
      </div>
    </div>
    <%= render 'reviews/add_review' %>
  </div>

</div>
