<% if user_signed_in? %>
  <% unless authorized_user?(@product.user) %>
    <h2>Add a review:</h2>
    <%= form_for([@product, @review], remote: true, html: { class: "form-horizontal", id: 'add-review-form' }) do |f| %>
      <div class="form-group">
        <%= f.label :body %><br>
        <%= f.text_area :body, required: true, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit %>
      </div>
    <% end %>
  <% end %>
<%else %>
  <%= link_to 'Sign In to review the product', user_session_path %>
<% end %>
<%= link_to 'Reviews', product_reviews_path(@product) %>
