<h2>Add a review:</h2>
<%= form_for([@product, @review], remote: true, html: { id: 'add-review-form' }) do |f| %>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body, required: true %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Reviews', product_reviews_path(@product) %>
