<h1>Listing reviews</h1>

<table>
  <tr>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reviews.each do |review| %>
  <tr>
    <td><%= review.body %></td>
    <td><%= link_to 'Show', [review.product, review] %></td>
    <% if authorized_user?(review.user) %>
      <td><%= link_to 'Edit', edit_product_review_path(review.product, review) %></td>
      <td><%= link_to 'Destroy', [review.product, review] , method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
    <% if authorized_user?(@product.user) %>
      <td><%= link_to 'Destroy', [review.product, review] , method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if user_signed_in? %>
  <%= link_to 'New Review', new_product_review_path unless authorized_user?(@product.user) %>
<%else %>
  <%= link_to 'Sign In to review the product', user_session_path %>
<% end %>
