<h1>Listing reviews for <%= link_to @product.title, product_path(@product) %></h1>

<table>

<% @reviews.each do |review| %>
  <tr>
    <td><%= link_to render_name(review.user) + ": " , user_path(review.user) %></td>
    <td><%= review.body %></td>
    <td>&nbsp;</td>
    <td><%= button_to("Show", [review.product, review], method: :get, class: "btn btn-primary") %></td>
    <td>&nbsp;</td>
    <% if authorized_user?(review.user) %>
      <td><%= button_to("Edit", edit_product_review_path(review.product, review), method: :get, class: "btn btn-primary") %></td>
      <td>&nbsp;</td>
      <td><%= button_to("Delete", [review.product, review] , method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary") %></td>
    <% end %>
    <% if authorized_user?(@product.user) %>
      <td><%= button_to("Delete", [review.product, review] , method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary") %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if user_signed_in? %>
  <%= link_to 'New Review', new_product_review_path unless authorized_user?(@product.user) %>
<%else %>
  <%= link_to 'Sign In to review the product', user_session_path %>
<% end %>
