<div container>
  <div class="col-sm-12 col-md-12 col-lg-12">
    <ol class="breadcrumb">
      <li><%= link_to "Home", products_path %></li>
      <li><%= link_to @product.title, product_path(@product) %></li>
      <li class="active">All Reviews</li>
    </ol>

    <div class="panel panel-default">
      <div class="panel-heading">Listing reviews for <%= link_to @product.title, product_path(@product) %></div>
      <div class="panel-body">
        <div id="show-reviews">
          <%= render @reviews %>
        </div>
      </div>
    </div>
    <% if user_signed_in? %>
      <%= button_to("Add a new review", new_product_review_path, class: "btn btn-primary", method: :get) unless authorized_user?(@product.user) %>
    <%else %>
      <%= link_to 'Sign in to add a new product', user_session_path %>
    <% end %>
  </div>
</div>
